.wpagefeed
{
    width: 1280px;   
    margin: 0 auto;
}

.wheader
{
    padding-top: 63px;
    padding-bottom: 48px;
}

.wheaderbrand
{
    padding-bottom: 38px;
}

.wheaderbrandlink
{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color: #000000;    
    text-decoration: none;
}

.wheaderbrandending
{
    color: #4bcaff;
}

.wheadermenu
{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #35444F;
}

.wheadermenuitem
{
    padding: 26px 38px 19px;
    border-left: 1px solid #FFFFFF;
    transition: 500ms;
}

.wheadermenuitemlast
{
    border-right: 1px solid #FFFFFF;
}

.wheadermenuitemlink
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.wheadermenuitem:hover
{
    background-color: #222F3A;
}

.wmainpanel
{
    display: flex;
    justify-content: space-between;
}

.wsidepanel
{
}

.wsidemenu
{
    display: flex;
    border: 1px solid #000000;
    margin-right: 52px;
    flex-direction:column;
    width: 344px;
}

.wsidemenuitem
{
    padding: 26px 44px;
    transition: 1000ms;
}

.wsidemenuitemlink
{
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    color: #495863;    
    text-decoration: none;
    transition: 1000ms;
}

.wsidemenuitem:hover
{
    background-color: #DBDBDB;
    padding-left: 88px;
}

.wsidemenuitem:hover .wsidemenuitemlink
{
    color: #000000;
}

.wstorypanel
{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items:stretch; */
}

.wstoryimagewrapper
{
    border: 1px solid #000000;
}

.wstoryimage
{
    display: block;
    margin: 75px auto;
    width: 320px;
    height: 381px;
    transition: 500ms;
}

.wstoryimagewrapper:hover .wstoryimage
{
    /* margin: 56px auto;
    width: 352px;
    height: 419px; */
    transform:scale(1.3);
}

.wstorytext
{
    margin-top: 36px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C    
}

.wfooter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
    background-color: #B5B7BA;
}

.wfootermenu
{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.wfootermenuitem
{
    padding: 20px 0 20px 40px;
}

.wfootermenuitemlink
{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
    transition: 500ms;
}

.wfootermenuitemlink:hover
{
    color: #3181A6;
}

.wcopyright
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #010101;    
    padding: 20px 40px;
}